/* .design-card{
    background: lightblue;
    width: 400px;
    height: 400px;
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: forwards;
} */